.modal-comp-cont{
    width: 500px;
    background-color: var(--modal-comp-bg);
    margin:10px auto;
    padding-bottom: 20px;
}

.subtask-list{
    margin-top: 20px;
    width: 350px;
    margin: auto;
}