.block-bar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    background: rgba(255, 255, 255, 0);
}
body{
    /* opacity: 0.9; */
}

h1,h3,h4{
  color:black
}

.slide h1{
  color:white;
}

.highlight{
    animation: pulse-animation 1s infinite;
    position: relative;
}

.modal{
  position: fixed;
  max-width: 500px;
    margin: 20px;
    max-height: 500px;
    overflow: scroll;
    transform: translate(-50%,-60%);
}

@keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);

    
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
      /* opacity: .7; */
      border: yellow 10% solid;
      box-sizing: border-box;
        /* font-size: 1.1em; */
    }
  }

  .inner-highlight{
    animation: pulse-animation-2 1s infinite;
    position: relative;
    /* background: grey; */
}

.child-highlight>div{
    animation: pulse-animation-2 1s infinite;
    position: relative;
    /* background: grey; */
}

  @keyframes pulse-animation-2 {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.6);
        
    }
    100% {
        background: rgb(255, 255, 151);
    }
  }

header{
    z-index: 1;
}
.block-bar{
    z-index: 2;

}
.main-section.assessments{
    z-index: 3;
}


@media screen and (max-width:600px) {
  button{
    padding:1rem;
    font-size: 1.5rem;
  }
}