:root{
  --header-background:hsl(213, 97%, 13%);
  --header-color:hsl(0, 0%, 100%);
  --accent-hover:hsl(213, 98%, 19%);
  --neutral:#281e22cf;
  --dash-item:hsl(0, 0%, 100%);
  --light:hsl(0, 0%, 100%);
  --dark:hsl(0, 0%, 0%);
  --light-background:hsl(81, 28%, 90%);
  --dark-shadow:hsl(228, 13%, 37%);
  --mid-modal: hsl(209, 50%, 75%);
  --modal-button:hsl(209, 50%, 85%);
  --modal-button-hover:hsl(209, 50%, 95%);
  --modal-heading-color:hsl(60, 1%, 14%);
  --section-background:hsl(150, 18%, 96%);
  --main-text-color:hsl(0, 0%, 100%);
  --item-text-color:black;
  --main-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --modal-comp-bg:var(--modal-button);
  --main-hover-shadow:0 0 11px rgba(33,33,33,.2);
  --lighter-shadow:2px 2px 3px 2px rgba(134, 134, 134, 0.555);
  --modal-background:white;
  --contrast-text-color:white;
  --item-button:#84bd80;
  --danger:"#e78f8f";
  --stats-color:black;
  --footer-display:flex;
  /* Dash */
  --dash-heading-color:black;
  /* cards */
  --card-bg-color:rgb(250, 253, 252);
  --card-heading-color:rgb(0, 0, 0);
  --card-heading-bg-color:rgb(240, 240, 240);
}



body {
  font-size: 1.1rem;
  margin: 0;
  font-family: var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:var(--main-text-color);
  background-color: var(--neutral);
}



#root{
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    var(--main-font-family);
}

/* .main-section{
  height: 85vh;
} */

button{
  background-color: transparent;
}

.grid-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.span-with-button-div{
  margin: .4rem;
  display: flex;
  width: 60%;
  justify-content: space-around;
}

.submit{
  width: 200px;
  text-align: center;
  margin: auto;
}


.flex{
  display: flex;
  justify-content: center;
}

.inline-form{
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.inline-form input{
  height: 30px;
  border: none;
  font-size: 1.1rem;
  text-align: center;
}

.inline-form input[type="submit"]{
  background: var(--dark);
  color: var(--light);
  cursor: pointer;
}

.inline-form input:focus-visible{
  outline: none;
}

.full-screen{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  cursor: pointer;
}

.font-medium{
  font-size: 1.1rem;
}

.big-prompt{
  max-width: 80vw;
  max-height: 80vh;
  width: 400px;
  height: 650px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #f1f1f1;
  }

  .big-prompt>h3{
    font-size: 2rem;
    font-style: oblique;
    text-decoration: underline;
    text-align: center;
  }

  .big-prompt button{
    margin-top: 2rem;
    font-size: 2rem;
    cursor: pointer;
  }

  .big-prompt button:hover{
    background: rgb(198, 197, 197);
  }
/* Dash */
  .logo.centered{
    margin: auto;
    width: 140px;
    margin-bottom: 1rem;
  }

  .card{
    background: var(--card-bg-color);
    margin:.5rem;
    padding: 0;
    box-shadow: 1px 1px 3px black;
    border-radius: 7px;
    padding-bottom: 5px;
    box-shadow: 4px 4px 5px 3px black;
  }

  .card.tall h2{
    text-align: center;
  }

  .card>h2{
    background: var(--card-heading-bg-color);
    color: var(--card-heading-color);
    padding: .4em;
    font-size: 1.4rem;
    margin:0;
    text-align: left;
    padding-left: 1em;
    border-radius: 7px 7px 0 0;
  }

  .card>section{
    margin: 0;
    padding: 0;
  }
  .card#queue-card>section{
    width:98%
  }

  .card .form-cont{
    margin: 0;
    /* width: 100%; */
    padding:1em;
    padding-top:0em;
    background: var(--card-heading-bg-color);
  }

  .card .form-cont>form{
    width: unset !important;
    margin:unset !important;
  }

  .card .card-body{
    margin:.5rem;
  }

  .list-item button{
    height: 100%;
    width: 30px;
    box-shadow: 1px 1px 1px #00000066;
    border: solid hsl(150deg 14% 30%) 0px;
    background: var(--item-button);
    color: grey;
    cursor: pointer;
    position: relative;
  }

  div.list-item span.percentage{
    text-decoration: unset !important;
    padding: .2em !important;
    text-align: center;
    font-size: .9rem;
  }

  @media screen and (max-width:600px) {
    .list>div{
      width:92vw !important;
      max-width: unset;
    }
  }

  .danger{
    border:none;
    color:white;
    background: rgb(208, 53, 53);
  }

  button.danger{
    border-radius: 4px;
    padding: .1em .3em;
  }
  button.danger:hover{
    background: rgb(208, 53, 53);
    cursor: pointer;
  }

  .inline-form input{
    width: unset !important;
  }

  .subtask-list .list-item{
    width: 90% !important;
    margin-left: 10px;
  }