:root{
  --light-background:#E8EDDF;
  --dark-shadow:rgb(83, 88, 107);
  --mid-modal: rgb(158, 192, 223);
  --modal-button:hsl(209, 50%, 85%);
  --modal-button-hover:hsl(209, 50%, 95%);
  --modal-heading-color:#242423;
  --section-background:#CFDBD5;
  --header-background:#F5CB5C;
  --main-text-color:#242423;
  --accent-hover:hsl(44, 70%, 50%);
  --main-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:var(--main-text-color)
}

#root{
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-section{
  height: 85vh;
}

button{
  background-color: transparent;
}

.grid{
  display: grid;
}