.saddy{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.saddy>h1{
    font-size: 10rem;
    color: white;
}

@media  screen and (max-width:500px) {
    .saddy>h1{
        font-size: 3rem;
    }
}