.assessment-btn-cont{
    
    display: grid;
    width: 300px;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin-top: 2em;
}

.assessment-btn-cont>button{

    height:100px;
    font-size: 3rem;
    margin:.5rem;
    box-shadow: 2px 2px ;
    cursor: pointer;
    background-color: var(--light);
    width: 90%;
    border:none;
    border-radius: 10px;

}

.assessment-btn-cont>button:hover,.assessment-btn-cont>button.selected{
   background: #4242af;
   color:white;
}

.assessment-input-cont>input{
    
    width:150px;
    height:100px;
    text-align: center;
    margin: auto;
    font-size:4rem
}

.assessment-btn-cont + button,.assessment-input-cont + button {
    width:280px;
    font-size: 3rem;
    box-shadow: 2px 2px ;
    margin:2rem;
    cursor: pointer;
    background: #4242af;
    border: none;
    color:rgb(238, 231, 231);
    border-radius: 4px;
    margin-top: 1em !important;
}