img{
    margin-top: 30px;
    width: 300px;

}

body{
    background-color: rgb(250, 250, 246)
}

.form-card{
    background-color: rgb(222, 232, 241);
    color:black
}

.logo-cont{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#sign-in-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1rem;
}

.login-links{
    margin: 1rem;
    color:black;
}

@media screen and (max-width:500px) {
    .logog-cont img{
        width: 120px;
    }
    .logo-cont{
        margin-bottom: 30px;
    }
}