img{
    width: 150px;

}

.logo-cont{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

@media screen and (max-width:500px) {
    .logog-cont img{
        width: 120px;
    }
    .logo-cont{
        margin-bottom: 30px;
    }
}