.dashboard-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-cont>section{
    background-color: var(--section-background);
    padding: 1rem;
    width: 250px;
    border: var(--dark);
    margin: 20px;
}