
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    padding-top: 70px;
}


.App{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-card{
    background-color: var(--mid-modal);
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px var(--dark-shadow);
    margin:auto
}

.form-card h2{
    color:var(--modal-heading-color);
    
}

.form-card form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-card form > div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px
}

.form-card form > input:last-child{
    margin-top: 15px;
}

.form-card form>div>input{
    width:100%;
    padding: 5px 2px;
    text-align: center;
    font-size: 1.2rem;
}

.form-card form>input{
    width:fit-content;
    padding:4px 10px;
    align-self:center;
    background:var(--modal-button);
    font-size: 1.1rem;
}

.form-card form>input:hover{
    background-color: var(--modal-button-hover);
}

.pointer{
    cursor: pointer;
}
.text-center{
    text-align: center;
}


.embolden:hover{
    font-weight: bolder;
}

.center-self{
    align-self: center;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:80vh;
    overflow-y:scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.list::-webkit-scrollbar{
    display: none;
}

.list-item{

    margin: 4px;
    background-color: var(--section-background);
    color: var(--item-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.list-item:hover{
    border-width: 2px;
}

.list-item.done{
    background-color: var(--danger);
}
.list-item span{
    font-size: 1.1rem;
    text-align: left;
    padding-left: 1rem;
    cursor: pointer;
    padding-right: 2em;

}

.list-item span:hover{
    font-weight: 700;
}

.list-item.done span{
    text-decoration: line-through;
}

.list-item button:hover:after{
    content:"✔";
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.queue-item-buttons-cont button:hover:after{
    content: "";
}

.list-item button:hover{
    color: black;
    font-weight: 700;
    background: hsl(150deg 100% 97%);
}

.side-by-side{
    display: flex;
}

@media screen and (max-width:700px) {
    body{
        padding-top:20px;
        padding-bottom: 30px;
    }
    .assessment-btn-cont button{
        font-size: 2rem;
        width: 6rem;
        height: 4rem;
    }
    .assessment-btn-cont + .big-button{
        font-size:2rem;
        margin: 1rem;
        height: 4rem;
        padding:0;
    }
    .list-item button:hover{
        background: var(--item-button);
        font-weight: unset;
    }
    .list-item button:after{
        content:"✔";
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .list-item.done button{
        background: rgb(70, 67, 67);
        font-weight: unset;
    }
    .list-item.done button:after{
        content:"⭯";
        color:aliceblue;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .queue-item-buttons-cont button:after{
        content:"" !important;
    }
}