span.percentage{
    width: 40px;
    color: var(--dark);
}

.button-and-percentage-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--neutral);
}

.button-and-percentage-cont>span{
    background: var(#50484c);
    color: var(--contrast-text-color);
}