div.review-cont{
    width: 100vw;
    position: fixed;
    top:0;
}

div.review-cont h3{
    margin: .5rem;
}

div.review-cont .list{
    height: 50vh;
}


.side-by-side{
    display: flex;
    justify-content: center;
}

.confirm-btn{
    font-size: 1.2rem;
    background: var(--light);
    cursor: pointer;
}

div.list-item.done{
    background: grey;
    color: white;
}

@media screen and (max-width:500px) {
    .side-by-side{
        flex-direction: column;
    }
    div.review-cont div.list{
        height: unset;
    }
    h4{
        text-align: left;
        margin-left: 2rem;
    }
}