.side-by-side{
    display: flex;
    justify-content: center;
}

.confirm-btn{
    font-size: 1.2rem;
    background: var(--light);
    cursor: pointer;
}

.main-cont{
    color:var(--light);
}
.review-list{
    background:rgb(199, 199, 199);
}