.App>header{
    display:flex;
    justify-content: space-between;
    background: var(--header-background);
    position:fixed;
    top:0;
    width:100vw;
}

header ul {
    list-style-type: none;
    display: flex;
    padding:0;

    margin:0
   }
header li{
    padding:20px;
    cursor:pointer
}

header li:hover{
    background-color: var(--accent-hover);
}

header button{
    margin-right:16px;
    background-color: transparent;
    border:none;
    padding:0px 30px; 
    font-family: var(--main-font-family);
    font-size:1rem;
}

header button:hover{
    background-color: var(--accent-hover);
    cursor: pointer;
}

.mobile{
    display: none;
}

@media screen and (max-width: 600px)   {
    header ul{
        flex-direction: column;
    }
    .mobile{
        display: block;
    }
    .closed{
        display: none;
    }
}