.App>header{
    display:flex;
    justify-content: space-between;
    background-color: --var(--header-color);
    position:fixed;
    top:0;
    width:100vw
}

header ul {
    list-style-type: none;
    display: flex;
    padding:0;
    padding-left:10px;
    margin:0
   }
header li{
    padding:10px;
    cursor:pointer
}

header li:hover{
    background-color: yellow;
}
